h1 {
  color: rgb(209, 208, 208);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.allPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 30px 0 30px 0;
  margin-left: 100px;
}
@media only screen and (max-width: 980px) {
  .allPosts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 652px) {
  .allPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}
