.App {
  text-align: center;
  background-color: #1b2432;
}

.textOnPhoto {
  position: absolute;
  color: #f5f5f5;
  top: 35%;
  left: 37%;
}

.textOnPhoto div {
  font-size: 20px;
}

.container {
  position: relative;
}

.homeImage {
  width: 100%;
  max-height: 90vh;
}
