.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #030305ee;
  font-size: 15px;
  text-decoration: none;
}
.header > * {
  text-decoration: none;
  color: #f5f5f5;
}
.header > *:last-child {
  margin-right: 15px;
}
.headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLinks > * {
  color: #f5f5f5;
  padding: 0 1rem;
  margin-right: 18px;
  line-height: 3em;
  height: 3em;
  text-decoration: none;
}

.headerLinks > *:hover {
  cursor: pointer;
}
.logo {
  margin-left: 20px;
}
.signin {
  color: rgb(243, 161, 106);
}
.logout {
  color: rgb(63, 138, 224);
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.signinButton {
  padding: 7px;
  background-color: rgba(78, 78, 78, 0.39);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
}
