.about {
  background-color: rgb(31, 30, 30);
  padding: 20px;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutUsText {
  width: 500px;
}
.title {
  color: rgb(52, 112, 241);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
}

.paragraph {
  margin-top: 5px;
  margin-bottom: 10px;
}
